.bicicletas-bg {
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);
}
.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 60px 0px;
}

.bicicletas-imagem {
  display: grid;
  /* position: relative; */
}
.bicicletas-imagem img {
  grid-area: 1/1;
}
.bicicletas-imagem span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 10px;

  background: var(--cor-12);
  top: 10px;
  right: 0px;
  padding: 26px 16px 16px 16px;
  border-radius: 4px 0px 0px 4px;
  border-left: solid 1px rgb(65, 65, 65);

  /* display: inline-block;
  position: absolute; */
}

.bicicleta-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas h2,
.bicicletas p {
  grid-column: 1/-1;
}

.bicicletas h2 {
  margin-bottom: 20px;
}
.bicicletas h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 6px;
}
.bicicletas p {
  margin-bottom: 32px;
}
.bicicletas a {
  place-self: end;
}
.bicicletas li {
  display: flex;
  align-items: center;
}

.bicicletas ul {
  display: grid;
  gap: 10px;
}

/* .bicicletas li + li {
  margin-top: 10px;
} */
.bicicletas li img {
  padding-right: 5px;
  width: 24px;
}

@media (max-width: 800px) {
  .bicicletas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .bicicletas-bg {
    background: linear-gradient(to bottom, var(--cor-0) 30%, var(--cor-11) 0%);
  }
}

@media (max-width: 600px) {
  .bicicleta-conteudo {
    grid-template-columns: 1fr;
  }
  .bicicletas ul {
    margin-bottom: 30px;
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
  }
  .bicicletas li img {
    padding-right: 5px;
    width: 20px;
  }
  .bicicletas a {
    place-self: start;
  }
  .bicicletas p {
    font-size: 16px;
  }
}
